[user]
	email = me@francisprovost.com
	name = Francis Provost
[core]
	editor = vim
[alias]
	rb-master = !git checkout master && git pull && git checkout - && git rebase master;
	cf = !git commit -v -a --no-edit --amend && git push --force-with-lease
	clean-branches = git branch | grep -v "master" | xargs git branch -D
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
